body {
	margin: 12;
	font-family: "Courier New", Courier, monospace !important;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h4,
h5,
p,
span {
	font-family: "Courier New", Courier, monospace !important;
}

span {
	font-weight: bold;
}

.content {
	font-family: "Courier New", Courier, monospace !important;
	font-size: 13px;
}

.field textarea {
	font-family: "Courier New", Courier, monospace !important;
	font-size: 13px !important;
}

.field button {
	font-family: "Courier New", Courier, monospace !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
